<!DOCTYPE html>
<html>
  <head>
    <title>Flicker</title>
  </head>
  <script src="https://rawgit.com/aframevr/aframe/f850c2f/dist/aframe-master.min.js"></script>
  <body>

    <!-- Initialize Scene -->
    <a-scene>

    <!-- Camera & Cursor Entity -->
      <a-camera position="2 0 3">
        <a-cursor cursor="fuse: true timeout: 3500"></a-cursor>
        </a-entity>
      </a-camera>

      <!-- Static Assets -->
      <a-assets>
        <!-- Background and click assets -->
        <audio id="click-sound" crossorigin="anonymous" src="https://cdn.aframe.io/360-image-gallery-boilerplate/audio/click.ogg"></audio>
        <img id="mozvr" src="http://storage.googleapis.com/harvard-vr/mozvr.png" crossorigin="anonymous" >
        <img id="shadow2" src="http://storage.googleapis.com/harvard-vr/radial-shadow-2.png" crossorigin="anonymous">
        <!-- End of Background & Click assets -->

        <!-- Main Image Assets -->
        <%if(collection.images.length){ %>
            <%for(var i=0; i < collection.images.length; i++){ %>
              <img id="ui<%=i%>" src="http://storage.googleapis.com/harvard-vr/<%=collection.images[i].name %>" crossorigin="anonymous">
              <%}%>
            <%} else { %>
              <img id="ui1" src="http://storage.googleapis.com/harvard-vr/<%=collection.images.name %>" crossorigin="anonymous">
          <%}%>
          <!-- End of Main Image Assets -->
      </a-assets>

      <!-- Displayed Images -->
      <a-entity id="scene0">
        <a-image id="img1" src="#ui0" radius="5.7" width="40" height="20" position="0.151 0 -15.071" onClick="nextScene(<%=interval%>)"></a-image>
      </a-entity>

      <a-entity id="scene1">
        <a-image id="img2" src="#ui1" radius="5.7" width="40" height="20" position="0.151 0 -15.071" onClick="nextScene(<%=interval%>)" visible="false"></a-image>
      </a-entity>
      <!-- End of Displayed Images -->

      <!-- Background, Sky, Camera, etc. -->
      <a-image position="0 -5 0" src="#shadow2" rotation="-90 0 0" scale="6 6 6"></a-image>
      <a-sky color="#fff"></a-sky>
      <a-entity position="0 0 1.5">
        <a-camera></a-camera>
      </a-entity>
      <!-- End of initialized Background, Sky, etc. -->

    </a-scene>

    <script type="text/javascript">
      function nextScene(interval) {
        // If user doesn't enter interval amount, default to '200'
        let img1 = document.getElementById("img1");
        let img2 = document.getElementById("img2");
        for (let i = 0; i < 1000; i++) {
          setTimeout(function() {
            console.log('SETTIMEOUT', interval);
            if((i % 2) === 0) {
              console.log(i);
              img1.setAttribute('visible', 'false');
              img2.setAttribute('visible', 'true');
            } else {
              img2.setAttribute('visible', 'false');
              img1.setAttribute('visible', 'true');
            }
          }, i*interval);
        }
      }
    </script>

  </body>
</html>