<!DOCTYPE html>
<html>
<head>
	<title>WebVision</title>
	<link rel="stylesheet" href="styles.css">
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" href="icon2.png">

</head>
<body>
	<nav>
	  <div class="nav-col">
    <a href="/" class="brand-logo">WebVision</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/collections">Collections</a></li>
    </ul>
	  </div>
	</nav>
	<div class="add-space"></div>
		<h1 id="videos-page-title">Videos</h1>
		<br>
	<div class='container'>
		<p>WebVision allows users to also upload regular or 360 videos and view them in VR. Please follow the instruction <a href="/collections">here</a> to setup your device.</p>
	<!-- New video Modal Trigger Button-->
	<div class="center"><a class="waves-effect waves-light btn" href="#modal1">Create New video</a></div>
	<br>
	<br>

	<div class="ajax-response">
		<div class="row border">
  	<%videos.forEach(function(video) {%>
      <div class="col s12 m6">
        <div class="card">
          <div class="carousel">
					<%if(video.video.length){ %>
						<%for(var i=0; i < video.video.length; i++){ %>
				    	<a class="carousel-item" href="#one!"><img src="http://www.namasteveyoga.com/wp-content/plugins/video-thumbnails/default.jpg"></a>
							<%}%>
	 			 	</div>
						<%} else { %>
							<img src="http://www.namasteveyoga.com/wp-content/plugins/video-thumbnails/default.jpg">
						<%}%>
          <div class="card-content">
            <span class="card-title"><%=video.title %></span>
            <p class="p-desc"><%=video.description %></p>
          </div>
          <%if(video.id !=='5949553c26793c00110a1cdd' && video.id !=='595f27e68ae41151e09bb391'){ %>
          	<div class="delete-loc"><a href="/videos/<%=video._id%>/delete" class="delete-links">Delete</a></div>
          <%}%>
          <div class="card-action" id="video-card-action">
            <a class="collection-links" href="/videos/<%= video._id%>/vr_video">VR Video</a>
            <a class="collection-links" href="/videos/<%= video._id%>/360video">VR 360 Video</a>
          </div>
          <div class="card-action">
          	
          </div>
        </div>
      </div>
	  <% })%>
  	</div>  
 	</div> 
      

  <!-- Modal Structure to create new video-->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Upload a new video</h4>
			  <form class="col s12" method="POST" action="/upload_video" enctype="multipart/form-data">
					<div class="row">
			      <div class="row">
			        <div class="input-field col s6">
			          <input name="title" type="text" class="validate">
			          <label for="title">Title</label>
			        </div>
			        <div class="input-field col s6">
			          <input id="description" name="description" type="text" class="validate">
			          <label for="description">Description</label>
			        </div>
			      </div>
			  	</div>
			    <div class="file-field input-field">
			      <div class="btn">
			        <span>File</span>
			        <input type="file" multiple name="image">
			      </div>
			      <div class="file-path-wrapper">
			        <input class="file-path validate" type="text" placeholder="Upload one or more files">
			      </div>
			    </div>
			    <div class="modal-footer">
			    	<input class="waves-effect waves-light btn-large start-button submit-ajax" type="submit" value="Save">
			    </div>
			    <div class="load-bar"></div>				  
				</form>
	    </div>
	  </div>
	</div>


<!-- Footer of the page -->
		<footer class="page-footer">
			<div class="container">
	    	<div class="row row-footer"></div>
	  	</div>
			<div class="footer-copyright"><div id="copyright">© 2017 WebVision, All rights reserved.</div></div>
	  </footer>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src=js/view.js></script>
	

</body>
</html>